.menu-btn{
    z-index: 3;
    top: 35px;
    right: 25px;
    cursor: pointer;
    position: absolute;
    @include eseOut;
    
    .btn-line{
        width: 30px; 
        height: 3px;
        
        margin: 0 0 5px 0;
        background: $secondary-color;
        @include eseOut;
    }

    &.close{
       transform: rotate(180deg);
       
       .btn-line{
        background: aquamarine;

        &:nth-child(1){
             transform: rotate(48deg) translate(11px, 11px);
             
             
        }
        &:nth-child(2){
            opacity: 0;
        }
        &:nth-child(3){
            transform: rotate(140deg)  ; 
            
        }
      }
    }
}
.menu {
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show{
        visibility: visible;
    }
    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
        margin: 0;
    }
    &-nav{
        margin: 0;
        padding: 0;
        background: darken($primary-color, 6);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include eseOut;
        
        &.show{
            transform: translate3d(0, 0, 0); 
        }        
    }
    &-branding{
        margin: 0;
        padding: 0;
        background: darken($primary-color, 6);
        list-style: none;
        transform: translate3d(0, 100%, 0);
        @include eseOut;
        
        &.show{
            transform: translate3d(0, 0, 0); 
        }        
        .portrait{
            contain: content;
            width: 250px;
            height: 250px;
            border-radius: 100%;
            background: url('../img/zdj.jpg');
            border: 1px solid $secondary-color;
            
        }
    }
    .nav-item{
        transform: translate3d(600px, 0, 0);
        @include eseOut;

        &.show {
            transform: translate3d(0, 0, 0); 
        }

        &.current > a {
            color: $secondary-color;
            
            text-decoration-line: underline;
            text-decoration-color: rgb(0, 0, 0);
        }
    }
    .nav-link{
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        color: set-text-color($primary-color);
        font-weight: 400; 
        @include eseOut;
       
       
        &:hover{
            color: $secondary-color;
        }
    }
}

@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}){
     transition-delay: $x *0.1s;
    }
} 